
a{
    color:yellow;
    font-family: Tahoma, Geneva, sans-serif;
    margin-left: 30px;
}
.congmsg{
    background: rgba(44,62,80,0.7);
    padding: 40px;
    margin:  auto;
    height: 200px;
    width: 240px;
    

}
h2{
    margin-top:50px ;
    margin-left:10px ;
}
::placeholder {
    color: aliceblue;
    opacity: 1;
}