body{
    font-family:  Tahoma, Geneva, sans-serif;
    color: #FFF;
    background-size: cover;
}
a{
    color: yellow;
    text-decoration: blink;
    font-family:Tahoma, Geneva, sans-serif;
    margin-left: 35px;
}
.forget{
    background: rgba(44,62,88,0.7);
    padding: 40px;
    width: 240px;
    margin: auto;
    margin-top: 120px;
    height:340px;
    margin-left: auto;
}
h2{
    margin-top:28px ;
    margin-left: 10px;

}
input[type=email]{
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'play' sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    /* outline: none;
    color: #FFF; */
}
input[type=button]{
    border: none;
    width: 180px;
    background: #FFF;
    color: #000;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0;
    border-radius: 12px;
    cursor: pointer;
   
}
input[type=button]:hover{
    color: #FFF;
    background-color:#000;
}
a{
    color:yellow;
    font-family: Tahoma, Geneva, sans-serif;
    margin-left: 30px;
}
::placeholder {
    color: aliceblue;
    opacity: 1;
}