*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Montserrat', sans-serif;
}
/***************** start nav section*******************/
.changeBg
{
    background:linear-gradient(90deg ,#B6C2C4, #6E7E8A ,#9AA4AE);
}
#editLogo
{
  width: 60px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/***************** start header section*********************/
header
{
    background:linear-gradient(90deg ,#B6C2C4, #6E7E8A ,#9AA4AE);
    height: 55vh;

}
.desc
{
    line-height: 1.75;
}
header h1
{
    font-weight: 900;
    font-size: 2rem;
    

}
header .btnChange:hover
{
  color: #6E7E8A;
  background-color: black;
  border: 1px black dashed ;
}
.searchResults
{
    margin-left: 100px;
    background-color: white;
    width: 215px;
    border-radius:3px ;
    -webkit-border-radius:3px ;
    -moz-border-radius:3px ;
    -ms-border-radius:3px ;
    -o-border-radius:3px ;
}
header .btnChange
{
    background-color: transparent;
    border: 1px solid black;
     color:white  ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
header p 
{
    font-style: italic;
}
header .container  .carsolImgs img
{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
}
#imgHeader:hover
{
    /* filter: none;
    -webkit-filter: none; */
    filter: gray;
    filter:grayscale(1)  ;
    -webkit-filter:grayscale(1)  ;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;


   
}

/***********start category section******************/
.category img
{
   height: 400px;
   cursor: pointer;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
}
.category h2
{
    color: #6C7B88;
    font-weight: 800;
    line-height: 1.75;
    font-size: 2.5rem;
}
.category p
{
    font-style: italic;
    font-size:1.25rem;
    font-weight:300;
    color: #97A1A9;
}
.category ul li  a
{
    color: #6C7B88;
    font-size: 1.25rem;
    font-weight: 500;
}


/*****************about us section ***************/
.aboutUs h2
{
 font-style: italic;
 font-weight: 900;
 font-size: 2.5rem;
}
.aboutUs h5
{
    font-weight: 800;
    font-size: 2rem;
    font-style: italic;
    line-height: 2;
    color: #6E7E8A;
}
/******************* contact us section****************/
.contactUs
{
   background-image: url("../bruno-kelzer-LvySG1hvuzI-unsplash.jpg");
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
.contactUs input , .contactUs textarea
{
    background-color: transparent;
}
.contactUs .contactBtn
{
    background-color: black;
    border: 1px solid black;
    color: #8B7443;
    font-size: 1.25rem;
}
.contactUs .contactBtn:hover
{
    background-color: #8B7443;
    color: black;
    border: 1px solid #8B7443;

}
.contactUs h2
{
    font-weight: 700;
    font-size: 2.5rem;
    font-style: italic;

}
.contactUs p{
    line-height: 1.75;
    font-size: 1.25rem;
    font-style: italic;
    color: gold;
}
.contactUs button:hover
{
   color: turquoise;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}
.contactUs button
{
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}



/************ footer section********/
footer
{
    background-color: rgb(194,201,204);
}
footer span
{
    color:rgb(105, 96, 34) ;
    
}
footer p 
{
    font-style: italic;
}
footer i
{
    cursor: pointer;
}
footer i:hover
{
    color: gold;
}
footer h5{
    font-size: 1.5rem;
    font-weight: 600;
}
footer li
{
    cursor: pointer;
}
footer li:hover
{
   color: rgb(155, 140, 46);
}
footer ul 
{
    list-style-type: none;
}